doctype html 
link(rel='stylesheet' href='css/style.css')


head 
    title SomeJerseyMikesGuys.com 
    script(src="js/main.js")
body 
    h1 We want to make a video game 
    h2 By Mason and Gabe
    img(src='img/stickFigure.png' alt='character' class='member')