doctype html 
link(rel='stylesheet' href='css/style.css')


head 
    title SomeJerseyMikesGuys.com 
    script(src='js/main.js')
body 
    h1 We want to make a video game 
    h2 By Mason and Gabe
    #container
    img(src='img/realStickFigure.png' alt='character' style='position:absolute; top:200px; left:200px;')