<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='description' content='First page of game site'>
        <meta name='keywords' content='HTML, CSS, JavaScript'>
        <title>SomeJerseyMikesWorkers.com</title>
        <link href='css/style.css' rel='stylesheet'></link>
    </head>
    <body>
        <h1>We want to make a videogame</h1>
        <h2>By Mason and Gabe</h2> 
    </body>
</html>