body {
    background-color: orange;
}

h1 {
    color: red;

}

#container {
    width: 600px;
    height: 280px;
    border: 2px solid blue;
    background-color: #f0f0f0;
    padding: 5px;
    position: relative;
    /* Center Horizontally */
    margin: 0 auto;
}